@model IEnumerable<PeopleApi.Models.Person>;

@{
    Person Person = null;
}

<script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
    a.btn {border-radius: .25rem; border: 1px solid transparent; padding: .5rem 1rem; color: #fff; }
    a.btn:hover { border-radius: .25rem; }
</style>

<h1>Registered Employees</h1>

<p>
    <button id='open' data-toggle="modal" data-target="#showmodal-create">New Employee</button>
</p>
<table class="table">
    <asp:HiddenField ID="selected_person" value="" />
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                <a class="btn btn-primary" href="" id='open' data-toggle="modal" data-target="#showmodal-edit-@item.Id">Edit</a>
                <a class="btn btn-primary" href="" id='open' data-toggle="modal" data-target="#showmodal-details-@item.Id">Details</a>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display: inline;">
                    <input type="hidden" asp-for="@item.Id" />
                    <input class="btn btn-danger" type="submit" onclick="return confirm('Are you sure?')" value="Delete"/>
                </form>
            </td>
        </tr>
        <!-- Modal for Edit -->
        <div id="showmodal-edit-@item.Id" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="padding: 15px;">
                    @Html.Partial("Edit", @item)
                </div>
            </div>
        </div>
        <!-- Modal for Details -->
        <div id="showmodal-details-@item.Id" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="padding: 15px;">
                    @Html.Partial("Details", @item)
                </div>
            </div>
        </div>
    }
    </tbody>
</table>

<!-- Modal for Creation -->
<div id="showmodal-create" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding: 15px;">

            @Html.Partial("Create", @Person)

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
